{% macro setItem(o)%}
{% endmacro %}
{% import _self as specialmacro %}
{% set specials = function('get_fg_post_type', 'special', null, 'menu_order') | reverse %}
<div class="section section-specials script-parallax-off" data-offset="0" data-ratio="9" data-backgroundOFF="{{theme.link}}/assets/images/background-specials-module.jpg" >
  <div class="container">
    <div class="inner-container">
      <h2 class="h1">Special Offers</h2>

      <div style="position:relative;z-index:1;">
          {% set show_count = 2 %}
          {% set count = 0 %}
          <div class="carousel slide " id="theCarouselAccessories" data-interval="8000">

              <div class="carousel-inner" >

              {% for special in specials  %}
                {% if special.get_field('fg-widget-enable')  == 'yes' and show_count >= loop.index %}
                  {# background image on index #}
                  {% set feature_image = false %}
                  {% set img_id = special.get_field('fg-widget-images') %}
                  {% if img_id is iterable %}{% set img_id = img_id | first %}{% endif %}
                  {% if  img_id + 0 > 0 %}
                    {% set feature_image = TimberImage(img_id) %}
                  {% endif %}
                  {% if count == 0 %}<div class="item {% if loop.first %}active{% endif %}"><!-- start of item --> {% endif %}

                  {% set o = {
                    'class' : 'col-sm-6',
                    link : special.link,
                    title : special.title,
                    image : special.thumbnail.src,
                    content : special.excerpt
                  }
                  %}
                  <div class="col-sm-6">
                    <div style="overflow:hidden;" >
                      <a href="{{special.link}}" target="_self"  style="" class="special-item-wrapper" >
                        <div class="special-item-image" data-background="{{feature_image.src}}" >
                          <img src="{{feature_image.src}}" alt="{{feature_image.title}}" class="img-responsive"  />
                        </div>
                        <div class="special-item-image-overlay">
                            <p>{{special.get_field('fg-hover-text')}}</p>
                            <div class="action-wrapper">
                              <button class="btn btn-secondary" href="" >{{special.get_field('fg-hover-button-text') | default('Learn More')}}</button>
                            </div>
                       </div>
                      </a>
                    <div class="special-title">{{special.title}}</div>
                    </div>
                  </div>

                  {% set count = count +1 %}
                  {% if count == show_count %}
                    {% set count = 0 %}
                    </div><!-- end of item -->
                  {% endif %}
                {% endif %}
              {% endfor %}
              </div>
            {#
              <a class="left carousel-control" href="#theCarouselAccessories" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
              <a class="right carousel-control" href="#theCarouselAccessories" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            #}
          </div>
      </div>
    </div>
  </div>
</div>
