{% set awards = function('get_fg_post_type', 'award', 100) %}
<div class="section section-awards">
  <div class="container">
    <div class="inner-container">
      <div class="carousel slide multi-item-carousel" id="awardCarousel" data-interval="80000" data-properties='[{"size": "full","columns":"3"},{"size": "980","columns":"2"},{"size": "480","columns":"1"}]' >
          <div class="carousel-inner" >
            <div class="item active">
            {% for award in awards | reverse %}
                {% set img_id  = award.get_field('fg-feature-image')  %}
                {% if img_id is iterable %}{% set img_id = img_id | first %}{% endif %}
                {% set img_id = img_id +0 %}
                {% if img_id > 0 %}{% set image = TimberImage(img_id) %}{% else %}{% set image = false %}{% endif %}
                  <div class="col-xs-4">
                    <div class="award-item-wrapper" >
                      {% if award.link and false %}<a href="{{award.link}}" style="text-decoration: none" >{% endif %}
                        {% if image %}
                          <div class="award-item-content">
                            {% if image %}<img src="{{image.src}}"  alt="{{award.title}}" />{% endif %}
                          </div>
                        {% endif %}
                        {% if award.link and false %}</a>{% endif %}
                    </div>
                    <div style="text-align: center">
                      <div class="award-title">{{award.title}}</div>
                      <div class="award-publisher">{{award.get_field('fg-publisher')}}</div>
                    </div>
                  </div>
            {% endfor %}
            </div>
          </div>
          <div class="animated-control-wrapper">
            <a class="animiated-control-arrow control-arrow-prev" href="#awardCarousel" data-slide="prev"><span ></span></a>
            <a class="animiated-control-arrow control-arrow-next" href="#awardCarousel" data-slide="next"><span></span></a>
          </div>
      </div>
    </div>
  </div>
</div>
